@import "tailwindcss";



@font-face {
  font-family: 'Urbana';
  src: url('/fonts/Urbanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Exemplo de uso global */
body {
  font-family: 'Urbana', sans-serif;
  background-color: #F5F0E7;
}
